<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJnm6I8B4UzJFUCyKrONDv9lFCuywhu_I</string>
	<key>GCM_SENDER_ID</key>
	<string>879329901597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiApp</string>
	<key>PROJECT_ID</key>
	<string>taxi-app-ef01b</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-app-ef01b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879329901597:ios:d5763ec678619c4bfa5af4</string>
</dict>
</plist>